    <% layout('/layout/boilerplate.ejs') %>
    <style>
        body {
            background-color: #f0f0f0; /* Light background color */
            color: #333; /* Dark text color */
        }

        .card-img-top { 
            height: 200px;
            object-fit: cover;
        }
        .col-md-4{
            width: 30.33333333%!important;
            margin-bottom: 50px!important;
        }
        .card {
            transition: transform 0.3s;
            background-color: #ffffff;  
            color: #333; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .card-title {
            color: #5680cf; 
            margin-left: 15px;
        }

        .card-text {
            color: #555;
            margin-top: 10px;
        }

        .btn {
            background-color: #5680cf; /* Blue button color */
            color: #fff; /* Light text color */
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #4362ab; /* Darker blue on hover */
        }

        .rounded-circle {
            border-radius: 50%;
            height: 28px;
        }
        .center{
            display: flex;
            margin-top: 10px;
        }

    </style>

<body>
    <div class="container pt-5">
        <h3 class="tp mb-4">Latest Video</h3>
        <div class="row">
            <% allVideos.forEach(video => { %>
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <img src="<%= video.thumbnail %>" class="card-img-top" alt="Thumbnail">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <p class="card-text ">
                                    <% if(video.owner.avatar){ %>
                                    <img src="<%= video.owner.avatar %>" class="rounded-circle" width="40" height="40" alt="Avatar">
                                    <% } else { %>
                                        
                                        <span class="material-symbols-outlined profile-avatar center rounded-circle">
                                            account_circle 
                                            </span>
                                    <% } %>
                                </p>
                                <h5 class="card-title"><%= video.title %></h5>

                            </div>
                            
                            <% if (!currentUser) { %>
                                <a href="/videos/<%= video._id %>" class="btn btn-primary">Watch Video</a>
                            <% } else { %>
                                <a href="/user/<%= req.user._id %>1/videos/<%= video._id %>" class="btn btn-primary">Watch Video</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</body>